/* For screens between 1280px and 1535px */
@media (min-width: 1280px) and (max-width: 1535.98px) {
  /* Your CSS code for extra large devices */
  h1.banner-heading {
    font-size: 96px;
  }
  img.img-fluid.banner-1 {
    scale: 0.9;
    left: -144px;
  }
  img.img-fluid.banner-2 {
    scale: 0.9;
  }
  h2.get-clients {
    font-size: 168px;
  }
}

/* For screens between 1024px and 1279px */
@media (min-width: 1024px) and (max-width: 1279.98px) {
  /* Your CSS code for large devices */
  h1.banner-heading {
    font-size: 72px;
  }
  img.img-fluid.banner-1 {
    scale: 0.8;
    left: -75px;
    bottom: -75px;
  }
  img.img-fluid.banner-2 {
    scale: 0.8;
    left: 70px;
    bottom: 95px;
  }
  .banner-text p {
    font-size: 15px;
  }
  .banner-btn {
    scale: 0.8;
    margin-left: -34px;
    margin-top: 15px;
  }

  .mobile-right h2 span {
    font-size: 66px;
  }
  .mobile-right h2 {
    font-size: 92px;
    line-height: 73px;
  }
  h2.get-clients {
    font-size: 136px;
    line-height: 120px;
  }
  .ceo-text p {
    font-size: 20px;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023.98px) {
  /* Your CSS code for medium devices */
  h1.banner-heading {
    font-size: 54px;
  }
  .banner-text {
    text-align: center;
    width: 100%;
  }
  .banner-text p {
    width: 100%;
    line-height: 22px;
    margin-top: 20px;
  }
  img.img-fluid.banner-1 {
    scale: 0.8;
    left: -180px;
    bottom: -265px;
  }
  img.img-fluid.banner-2 {
    scale: 0.8;
    left: -45px;
    bottom: -55px;
  }
  .scroll-down {
    bottom: 45px;
  }
  .banner-text p {
    font-size: 15px;
  }
  .banner-btn {
    scale: 0.8;
    margin-left: -34px;
    margin-top: 15px;
  }

  .mobile-right h2 span {
    font-size: 32px;
  }
  .mobile-right h2 {
    font-size: 72px;
    line-height: 73px;
  }

  .mobile-lists {
    padding-left: 0px;
    margin-top: 120px;
    margin-left: -40vw !important;
  }

  h2.get-clients {
    font-size: 112px;
    line-height: 94px;
  }
  .ceo-text p {
    font-size: 20px;
  }
  .clinets-center {
    width: 90vw;
    height: 90vw;
  }

  .clients-box {
    text-align: center;
    margin-bottom: 32px;
  }

  h2.control-heading {
    font-size: 65px;
    line-height: 73px;
  }
  .controlwrap {
    padding: 65px 0px 65px 0px;
  }

  footer#footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .fstclumn p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  ul.social_media {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footerSocial {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* For screens smaller than 640px */
@media (max-width: 767.98px) {
  /* Your CSS code for small devices */
  .navbar {
    flex-wrap: nowrap;
    width: 100%;
  }
  h1.banner-heading {
    font-size: 33px;
  }
  .banner-text {
    text-align: center;
    width: 100%;
  }
  .banner-text p {
    width: 100%;
    line-height: 22px;
    margin-top: 20px;
    font-size: 13px;
  }
  img.img-fluid.banner-1 {
    scale: 0.8;
    left: -85px;
    bottom: -45px;
  }
  img.img-fluid.banner-2 {
    scale: 0.4;
    left: -178px;
    bottom: -19px;
  }
  .scroll-down {
    bottom: 7px;
    scale: 0.5;
    right: -7px;
  }
  .banner-btn {
    scale: 0.8;
    margin-left: 10px;
    margin-top: 15px;
  }
  .content {
    font-size: 64px;
  }
  .intro-btn a {
    font-size: 15px;
  }
  .intro-btn {
    margin-top: 30px;
    margin-bottom: 24rem;
  }
  .marquee {
    height: 150px;
  }
  .makeitsimple .content {
    font-size: 60px;
  }
  .mobile-right h2 span {
    font-size: 32px;
  }
  .mobile-right h2 {
    font-size: 72px;
    line-height: 73px;
  }

  .mobile-lists {
    padding-left: 0px;
    margin-top: 20px;
  }
  .intro-wrap {
    width: 100%;
  }
  .boo-lists {
    padding: 0;
  }

  h2.get-clients {
    font-size: 92px;
    line-height: 72px;
  }
  .ceo-inner .row {
    align-items: center;
    flex-direction: column-reverse;
  }
  .ceo-text {
    width: 100%;
  }
  .ceo-text p {
    font-size: 20px;
  }
  .ceojohnny .content {
    padding-top: 162px;
  }
  .clinets-center {
    width: 90vw;
    height: 90vw;
  }
  .faq-wrap h2 {
    font-size: 40px;
    line-height: 10px;
  }
  button.accordion-button {
    font-size: 13px;
  }
  .accordion-button:after {
    font-size: 40px;
  }
  h2.control-heading {
    font-size: 35px;
    line-height: 37px;
  }
  .controlwrap {
    padding: 30px 0px 48px 0px;
  }
  footer#footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .fstclumn p {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  ul.social_media {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footerSocial {
    display: flex;
    flex-direction: column-reverse;
  }
}
